page-home {
    
    background-image: url(http://akveo.com/ng2-admin/assets/img/sky-bg.jpg);
    ion-content{
        background: transparent !important;
    }
    ion-badge.badge.badge-md.badge-md-danger {
        position: absolute;
        top: -5px;
        right: 0;
    }
}
